<div class="container">
<%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
<h2>Change Your Profile Image:</h2>
<%= profile_avatar_select(@user) %><br>
<%= f.file_field :avatar, onChange: 'loadFile(event)' %>

<h2>About You:</h2>
<%= f.text_area :bio, label: false, rows: 4 %><br>
<%= f.submit "Update Profile", class: 'btn btn-success' %>
<% end %>
</div>  