<%= @symbol %></br>

<% @lookup_coin.values.each do |coin| %>
    <% if @symbol == coin["Symbol"] %>
        <%= coin["CoinName"] %> <%= coin["Symbol"] %><br>
    <% end %>
<% end %>


<div class="container">

<%= link_to 'Back', root_path %> <br>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Market Cap</th>
        <th>Total Vol 24hrs</th>
        <th>Circulating Supply</th>
        <th>Change</th>
        <th colspan="8">% Change</th>
    </tr>
  </thead>

  <tbody>
   <% @lookup_coin.values.each do |coin| %>
      <tr>
         <% if @symbol == coin["Symbol"] %>
        <td><%= coin["Symbol"] %></td>
        <td><%= coin["CoinName"] %></td>
        <td><%= coin["Url"] %></td>
        <td><%= coin["Algorithm"] %></td>
        <td><%= coin["ProofType"] %></td>
        <td><%= coin["ImageUrl"] %></td>
        <td><%= coin["TotalCoinSupply"] %></td>
         <td><%= coin["TotalCoinSupply"] %></td>
      </tr>
    <% end %>
  </tbody>
   <% end %>
</table>
</div>
